---
Language: Cpp
BasedOnStyle:  Google
SeparateDefinitionBlocks: Leave
ColumnLimit: 80
MaxEmptyLinesToKeep: 2
PackConstructorInitializers: CurrentLine
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: 'BlockIndent'
